.header{
  margin-bottom: 15%;
  margin-left: -18%;
  font-family: 'Acme', sans-serif;
}

.callToAction {
  font-family: 'Acme', sans-serif;
}

.footer{
  position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
  padding:8px;
  text-align: right;
  background: lightpink;
  height: 5%;
  padding: 2%;
  padding-right: 5%;
  font-family: 'Acme', sans-serif;
}

.navBar{
  margin-bottom: 3%;
  text-align: right;
  background: lightpink;
  height: 15%;
  padding: 2%;
  padding-right: 5%;
  font-family: 'Acme', sans-serif;
}

.formBox {
  border: .5px solid lightblue;
  font-family: 'Acme', sans-serif;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 10%;
  margin-left: auto;
  margin-right: auto;
  background: lightpink;
  margin-bottom: 15%;
}

.logoImg {
  float: left;
  width: 15%;
  height: 15%;
  margin-top: -3%;
}

.flavors{
  margin-bottom: 5%;
  margin-top: 10%;
  font-family: 'Acme', sans-serif;
}

.flavorImg{
  float: left;
  margin-right: 5%;
  width: 350px;
  height: 350px;
}

.treats{
  margin-bottom: 15%;
  font-family: 'Acme', sans-serif;
}

.treatImg{
  float: right;
  margin-right: 5%;
  width: 350px;
  height: 350px;
}

.font{
  font-family: 'Acme', sans-serif;
}

.specificFont{
  font-family: 'Acme', sans-serif;
}