@{
  Layout = "_Layout";
}

<h1 class="callToAction">Call To Action</h1>
<div class="font">
  <p><strong>This is where the webpages call to action would be.</strong> Morbi quis nibh quis urna consequat venenatis vitae ultricies velit. Quisque scelerisque tempus maximus. Cras justo leo, faucibus sed dui quis, eleifend maximus sem. Phasellus sodales ex vehicula, lobortis quam quis, aliquet ligula. Aliquam malesuada arcu sem, et fermentum mauris facilisis in. Cras vel laoreet turpis, nec sodales magna. Quisque felis velit, vulputate quis velit non, egestas convallis dolor. Cras pharetra lacus in tincidunt feugiat. Curabitur vestibulum enim sit amet dignissim porta. Integer eu feugiat magna. Nam placerat metus nec molestie posuere. Nullam dignissim sodales felis, nec mattis magna scelerisque eu. Nunc volutpat purus sed pellentesque molestie. Nulla consequat facilisis mauris et condimentum.

  Proin rhoncus tincidunt facilisis. Mauris interdum elit vestibulum, viverra ante varius, porta dolor. Vivamus a hendrerit augue. Quisque vestibulum, orci eu euismod pharetra, elit risus viverra enim, ac rhoncus turpis est sed risus. Nullam at quam tempor, efficitur turpis et, auctor dui. Proin aliquam vulputate risus, rutrum hendrerit purus aliquam pretium. Nunc vulputate dui mi.</p>
</div>
<div class="flavors">
  <hr>
  <img src="https://www.aggiesbakery.com/wp-content/uploads/6-assorted-cupcakes.jpg" alt="treats" class="flavorImg">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius sit amet mattis vulputate enim. Semper risus in hendrerit gravida rutrum. Risus pretium quam vulputate dignissim suspendisse in est. Augue lacus viverra vitae congue. Natoque penatibus et magnis dis parturient montes. Diam quis enim lobortis scelerisque fermentum. Libero volutpat sed cras ornare arcu dui vivamus. Massa tincidunt dui ut ornare lectus sit amet est. Nunc vel risus commodo viverra maecenas accumsan. Suspendisse in est ante in nibh mauris cursus.</p>
</div>

<div class="treats">
  <img src="https://ohmycupcakes.com/img/home-hero-cupcakes.png" alt="treats" class="treatImg">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius sit amet mattis vulputate enim. Semper risus in hendrerit gravida rutrum. Risus pretium quam vulputate dignissim suspendisse in est. Augue lacus viverra vitae congue. Natoque penatibus et magnis dis parturient montes. Diam quis enim lobortis scelerisque fermentum. Libero volutpat sed cras ornare arcu dui vivamus. Massa tincidunt dui ut ornare lectus sit amet est. Nunc vel risus commodo viverra maecenas accumsan. Suspendisse in est ante in nibh mauris cursus. Risus pretium quam vulputate dignissim suspendisse in est. Augue lacus viverra vitae congue. Natoque penatibus et magnis dis parturient montes. Diam quis enim lobortis scelerisque fermentum. Libero volutpat sed cras ornare arcu dui vivamus. Massa tincidunt dui ut ornare lectus sit amet est. Nunc vel risus commodo viverra maecenas accumsan. Suspendisse in est ante in nibh mauris cursus.</p>
  <hr>
</div>