<div class="footer">
  <button class="btn-dark">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="btn-dark">@Html.ActionLink("Account", "Index", "Account")</button>
  <button class="btn-dark">@Html.ActionLink("LogIn", "Login", "Account")</button>
  <button class="btn-dark">@Html.ActionLink("Register", "Register", "Account")</button>  
</div>