<div class="header">
  <img src="https://img.freepik.com/free-vector/bakery-logo-template_441059-119.jpg?size=338&ext=jpg" alt="logo" class="logoImg">
  <h1>Pierres Bakery</h1>
  <p>Let me know your favorite treats and flavors!</p>
  <hr>
</div>