<div class="navBar">
  <p class="btn-dark">-- @Html.ActionLink("Home", "Search", "Home") -- </p>
  <p class="btn-dark">-- @Html.ActionLink("Treats", "Index", "Treats") -- </p>
  <p class="btn-dark">-- @Html.ActionLink("Flavors", "Index", "Flavors") -- </p>
</div>